<button class="btn btn-primary">Mostar alerta</button>

<%= link_to 'Mostrar alerta (con remote true', alert_js_path, class: 'btn btn-primary', remote: true %>

<script>
    new ProductsView();
</script>